HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS / Eclipse-specific files
.metadata/
.settings/
.classpath
.project

# Java build folders
/bin/
target/
build/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.iml
.idea/
